html,
body{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
  color: $text;
  @extend %rubik-400;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a{
  @extend %rubik-400;
  font-size: 14px;
  color: $text;
}

.breadcrumbs{
  padding: 30px 0;
  background-color: #edf1f4;
  text-align: center;
  &__title{
    @extend %rubik-300;
    font-size: 36px;
    line-height: 48px;
    color: #222933;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item{
    color: #222933;
    margin-right: 20px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      right: 0;
      right: -13px;
      top: 1px;
    }
    &:last-child{
      margin-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  &--left{
    justify-content: start;
  }
  .pagination__list{
    display: flex;
    margin-right: 7px;
  }
  &__item + .pagination__item{
    margin-left: 7px;
  }
  &__link,
  &__next{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border: 1px solid $accent;
    color: #243f4d;
    font-size: 16px;
  }
  &__link--active{
    background-color: $accent;
    color: #fff;
  }
}

.filter__title{
  @extend %dmsans-700;
  color: #243f4d;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  &::after{
    content: '';
    width: 38px;
    height: 2px;
    position: absolute;
    background-image: url('../images/icons/line.svg');
    right: -55px;
    top: 10px;
  }
}