$accent: #a3bbc8;
$lshade: #fef7f0;
$title: #191919;
$text: #7b7b7b;
$header: #436372;

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%width-1770{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

%arrow-btn{
  content: '';
  width: 22px;
  height: 9px;
  background-image: url('../images/icons/arrow-btn.svg');
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

%title{
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
  text-align: center;
  margin-bottom: 35px;
}

%filter-btn{
  border: none;
  background-color: transparent;
  @extend %dmsans-700;
  font-size: 16px;
  cursor: pointer;
  color: #8b8b8b;
  }

  @function max($numbers...) {
    @return m#{a}x(#{$numbers});
  }
  @function min($numbers...) {
    @return m#{i}n(#{$numbers});
  }