@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header{
  &__wrapper{
    @extend %width-1770;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__img{
    padding-right: 10px;
  }
  &__text{
    @extend %rubik-500;
    font-size: 36px;
    color: #436372;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $header;
  }
}

.user-nav{
  display: flex;
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
  }
  &__search{
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__store{
    background-color: #fcd7b6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 20px;
  }
  &__heart,
  &__cart{
    padding-top: 5px;
  }
  &__num{
    @extend %dmsans-400;
    color: #243f4d;
    font-size: 10px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: 12px;
    right: 6px;
  }
  &__border{
    height: 38px;
    width: 1px;
    background-color: #fde7d3;
    margin: 0 15px;
  }
  &__btn{
    background-color: $accent;
    border-radius: 50%;
  }
}

.footer-top{
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    margin-bottom: 25px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #1f2044;
  }
  &__items{
    display: flex;
  }
  &__list-item{
    margin-bottom: 12px;
  }
  &__adress{
    max-width: 200px;
  }
  &__contact-details,
  &__services,
  &__account
  {
    width: 270px;
    margin-right: 30px;
  }
  &__newsletter{
    max-width: 270px;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__form{
    @extend %dmsans-400;
    font-size: 12px;
  }
  &__form-email{
    border: none;
    padding: 10px 15px;
    background-color: $lshade;
    width: 170px;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    border: none;
    padding: 10px 15px;
    background-color: #a3bbc8;
    color: #fff;
    margin-left: -3px;
    cursor: pointer;
  }
}

.footer-copy{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu{
    display: flex;
  }
  &__menu-list{
    padding: 0 10px;
    line-height: 1.2;
  }
  &__menu-list + .footer-copy__menu-list{
    border-left: 1px solid $text;
  }
}

.slider{
  @extend %width-1770;
  &__wrapper{
    background-color: #fcd7b6;
    padding-bottom: 45px;   
  }
  &__items{
    max-width: 1400px;
    margin: 0 auto;
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
  &__item-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 220px 0 200px;
  }
  &__item-title{
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    max-width: 470px;
    margin-bottom: 40px;
  }
  &__item-subtitle{
    font-size: 18px;
    line-height: 30px;
    color: $header;
    max-width: 370px;
    margin-bottom: 40px;
  }
  &__item-link{
    width: 200px;
    padding: 22px 15px 22px 25px;
    background-color: $accent;
    display: block;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 16px;
    position: relative;
    &::before{
      content: '';
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-btn.svg');
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin: 0 6px;
      line-height: 0;
      button{
        padding: 0;
        margin: 0;
        border: none;
        width: 30px;
        height: 30px;
        background-color: #fde3cc;
        border-radius: 50%;
        @extend %rubik-500;
        font-size: 10px;
        line-height: 8px;
        color: #667983;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }
}

.slider-info{
  background-color: $lshade;
  display: flex;
  justify-content: space-between;
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 170px;
    width: 33.33333%;
  }
  &__item + .slider-info__item{
    border-left: 1px solid #e8e4df;
  }
  &__item-text{
    max-width: 295px;
    padding-left: 80px;
    position: relative;
    &::before{
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
  &__item-text--support::before{
    background-image: url('../images/icons/support.svg');
    width: 50px;
    height: 53px;
  }
  &__item-text--delivery::before{
    background-image: url('../images/icons/delivery.svg');
    width: 53px;
    height: 36px;
  }
  &__item-text--payment::before{
    background-image: url('../images/icons/payment.svg');
    width: 54px;
    height: 52px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 35px;
    color: #414141;
  }
  &__item-subtitle{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
  }
}









@import 'media';