.footer-top{
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    display: inline-block;
    margin-bottom: 25px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #1f2044;
  }
  &__items{
    display: flex;
  }
  &__list-item{
    margin-bottom: 12px;
  }
  &__adress{
    max-width: 200px;
  }
  &__contact-details,
  &__services,
  &__account{
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
  &__newsletter{
    max-width: 270px;
    width: 100%;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__form{
    @extend %dmsans-400;
    font-size: 12px;
    display: flex;
  }
  &__form-email{
    border: none;
    padding: 10px 15px;
    background-color: $lshade;
    max-width: 170px;
    width: 100%;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    border: none;
    padding: 10px 15px;
    background-color: #a3bbc8;
    color: #fff;
    margin-left: -3px;
    cursor: pointer;
  }
}

.footer-copy{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu{
    display: flex;
  }
  &__menu-list{
    padding: 0 10px;
    line-height: 1.2;
  }
  &__menu-list + .footer-copy__menu-list{
    border-left: 1px solid $text;
  }
}

@media (max-width:800px){
  .footer-top{
    &__items{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__contact-details,
    &__services,
    &__account,
    &__newsletter{
      width: 50%;
      margin-right: 0;
    }
  }
}

@media (max-width:500px){
  .footer-top{
    &__items{
      justify-content: start;
    }
    &__contact-details,
    &__services,
    &__account,
    &__newsletter{
      width: 100%;
    }
  }
  .footer-copy{
    flex-wrap: wrap;
    justify-content: center;
    &__text{
      margin-bottom: 20px;
      text-align: center;
    }
  }
}