.products-week{
  padding-top: 70px;
  &__title{
    @extend %title;
  }
  &__filter{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__filter-btn{
    @extend %filter-btn;
  }
  &__filter-btn + .products-week__filter-btn{
    margin-left: 30px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 185px;
  }
  &__item{
    font-size: 16px;
    line-height: 40px;
    background-color: #fff;
    max-width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    padding: 25px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  &__images{
    margin-bottom: 30px;
  }
  &__item-title{
    @extend %dmsans-500;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 5px;
  }
  &__price{
    @extend %dmsans-700;
    color: #a3bbc8;
  }
  &__nav{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .4s;
  }
  &__nav-item{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all .5s;
    &:hover{
      background-color: $accent;
    }
    &:hover path{
      fill: #fff;
    }
  }
  &__nav-item + .products-week__nav-item{
    margin-left: 10px;
  }
  &__item{
    &:hover .products-week__nav{
      opacity: 1;
    }
  }
  &__focus{
    display: flex;
    @extend %width-1770;
    justify-content: space-between;
  }
  &__focus-item{
    display: flex;
    background-color: #feefe2;
    padding-left: 140px;
    padding-bottom: 80px;
    padding-top: 80px;
    min-height: 385px;
    flex-grow: 1;
  }
  &__focus-item + .products-week__focus-item{
    margin-left: 30px;
  }
  &__focus-img{
    margin-top: -180px;
  }
  &__focus-text{
    max-width: 400px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__focus-tittle{
    @extend %dmsans-700;
    color: #243f4d;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  &__focus-subtitle{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 35px;
  }
  &__focus-link{
    @extend %rubik-500;
    color: #436372;
    font-size: 15px;
    line-height: 12px;
    width: 180px;
    padding: 24px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    position: relative;
    &::before{
      @extend %arrow-btn;
      background-image: url('../images/icons/arrow-btn2.svg');
    }
  }
}