<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/blog-list.min.css">
  <title>Glee</title>
</head>

<body>
  {% include 'app/module/_header/_header.html' %}

  <main class="main">
    <div class="breadcrumbs">
      <div class="container">
        <h2 class="breadcrumbs__title">
          Blog
        </h2>
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Home
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Blog
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section class="blog-list">
      <div class="container">
        <div class="blog-list__wrapper">
          <div class="blog-list__items">
            <div class="blog-list__item">
              <a class="blog-list__item-imglink" href="#">
                <img class="blog-list__item-img" src="images/content/blog-thumb/1.jpg" alt="thumb">
              </a>
              <div class="blog-list__item-meta">
                <span class="blog-list__item-date">
                  28 JANUARY, 2020
                </span>
                <a class="blog-list__item-author" href="#">
                  BY ADMIN
                </a>
              </div>
              <h3 class="blog-list__item-title">
                <a class="blog-list__item-titlelink" href="#">
                  Fonsectetur adipisicing eiusmod
                </a>
              </h3>
              <p class="blog-list__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-list__item-link" href="#">
                View More
              </a>
            </div>
            <div class="blog-list__item">
              <a class="blog-list__item-imglink" href="#">
                <img class="blog-list__item-img" src="images/content/blog-thumb/2.jpg" alt="thumb">
              </a>
              <div class="blog-list__item-meta">
                <span class="blog-list__item-date">
                  28 JANUARY, 2020
                </span>
                <a class="blog-list__item-author" href="#">
                  BY ADMIN
                </a>
              </div>
              <h3 class="blog-list__item-title">
                <a class="blog-list__item-titlelink" href="#">
                  Fonsectetur adipisicing eiusmod
                </a>
              </h3>
              <p class="blog-list__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-list__item-link" href="#">
                View More
              </a>
            </div>
            <div class="blog-list__item">
              <a class="blog-list__item-imglink" href="#">
                <img class="blog-list__item-img" src="images/content/blog-thumb/3.jpg" alt="thumb">
              </a>
              <div class="blog-list__item-meta">
                <span class="blog-list__item-date">
                  28 JANUARY, 2020
                </span>
                <a class="blog-list__item-author" href="#">
                  BY ADMIN
                </a>
              </div>
              <h3 class="blog-list__item-title">
                <a class="blog-list__item-titlelink" href="#">
                  Fonsectetur adipisicing eiusmod
                </a>
              </h3>
              <p class="blog-list__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-list__item-link" href="#">
                View More
              </a>
            </div>
            <div class="blog-list__item">
              <a class="blog-list__item-imglink" href="#">
                <img class="blog-list__item-img" src="images/content/blog-thumb/4.jpg" alt="thumb">
              </a>
              <div class="blog-list__item-meta">
                <span class="blog-list__item-date">
                  28 JANUARY, 2020
                </span>
                <a class="blog-list__item-author" href="#">
                  BY ADMIN
                </a>
              </div>
              <h3 class="blog-list__item-title">
                <a class="blog-list__item-titlelink" href="#">
                  Fonsectetur adipisicing eiusmod
                </a>
              </h3>
              <p class="blog-list__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-list__item-link" href="#">
                View More
              </a>
            </div>
          </div>
          <div class="blog-list__aside">
            <form class="blog-list__aside-search shop__filter-item" action="#">
              <input class="blog-list__aside-input" type="text">
              <button class="blog-list__aside-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.03" height="17" viewBox="0 0 17.03 17">
                  <path fill="#094074" fill-rule="evenodd" class="cls-1"
                    d="M1529.25,418.92a0.6,0.6,0,0,1-.42-0.174l-5.3-5.3a6.515,6.515,0,1,1,.84-0.839l5.3,5.3a0.6,0.6,0,0,1,0,.839A0.6,0.6,0,0,1,1529.25,418.92Zm-9.9-15.833a5.344,5.344,0,1,0,5.35,5.344A5.351,5.351,0,0,0,1519.35,403.087Z"
                    transform="translate(-1512.81 -401.906)" />
                </svg>
              </button>
            </form>
            <div class="category-filter shop__filter-item">
              <h4 class="filter__title">
                CATEGORY
              </h4>
              <form class="category-filter__form" action="#">
                <label class="category-filter__label">
                  <input class="category-filter__input" type="radio" name="category-filter" checked>
                  <span class="category-filter__checkbox">
                    Chair
                  </span>
                </label>
                <label class="category-filter__label">
                  <input class="category-filter__input" type="radio" name="category-filter">
                  <span class="category-filter__checkbox">
                    Table
                  </span>
                </label>
                <label class="category-filter__label">
                  <input class="category-filter__input" type="radio" name="category-filter">
                  <span class="category-filter__checkbox">
                    Lamp
                  </span>
                </label>
                <label class="category-filter__label">
                  <input class="category-filter__input" type="radio" name="category-filter">
                  <span class="category-filter__checkbox">
                    Watch
                  </span>
                </label>
                <label class="category-filter__label">
                  <input class="category-filter__input" type="radio" name="category-filter">
                  <span class="category-filter__checkbox">
                    Clock
                  </span>
                </label>
              </form>
            </div>
            <div class="recent-posts">
              <h4 class="filter__title">
                Recent Posts
              </h4>
              <div class="recent-posts__item">
                <a class="recent-posts__imglink" href="#">
                  <img class="recent-posts__img" src="images/content/recent-posts/1.jpg" alt="recent thumb">
                </a>
                <div class="recent-posts__item-box">
                  <h5 class="recent-posts__title">
                    <a class="recent-posts__titlelink" href="#">
                      Corem ipsum dolor tetur adipisicing elit
                    </a>
                  </h5>
                  <span class="recent-posts__date">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
              <div class="recent-posts__item">
                <a class="recent-posts__imglink" href="#">
                  <img class="recent-posts__img" src="images/content/recent-posts/2.jpg" alt="recent thumb">
                </a>
                <div class="recent-posts__item-box">
                  <h5 class="recent-posts__title">
                    <a class="recent-posts__titlelink" href="#">
                      Corem ipsum dolor tetur adipisicing elit
                    </a>
                  </h5>
                  <span class="recent-posts__date">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
              <div class="recent-posts__item">
                <a class="recent-posts__imglink" href="#">
                  <img class="recent-posts__img" src="images/content/recent-posts/3.jpg" alt="recent thumb">
                </a>
                <div class="recent-posts__item-box">
                  <h5 class="recent-posts__title">
                    <a class="recent-posts__titlelink" href="#">
                      Corem ipsum dolor tetur adipisicing elit
                    </a>
                  </h5>
                  <span class="recent-posts__date">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
              <div class="recent-posts__item">
                <a class="recent-posts__imglink" href="#">
                  <img class="recent-posts__img" src="images/content/recent-posts/4.jpg" alt="recent thumb">
                </a>
                <div class="recent-posts__item-box">
                  <h5 class="recent-posts__title">
                    <a class="recent-posts__titlelink" href="#">
                      Corem ipsum dolor tetur adipisicing elit
                    </a>
                  </h5>
                  <span class="recent-posts__date">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#">1</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
          </ul>
          <a class="pagination__next" href="#">Next</a>
        </div>
      </div>
    </section>
    <div class="partners">
      <div class="container">
        <div class="partners__wrapper">
          <img class="partners__img" src="images/partners/1.png" alt="partners logo">
          <img class="partners__img" src="images/partners/2.png" alt="partners logo">
          <img class="partners__img" src="images/partners/3.png" alt="partners logo">
          <img class="partners__img" src="images/partners/4.png" alt="partners logo">
          <img class="partners__img" src="images/partners/5.png" alt="partners logo">
        </div>
      </div>
    </div>
  </main>

  {% include 'app/module/_footer/_footer.html' %}
  
  <script src="js/main.min.js"></script>
</body>

</html>