<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.min.css">
  <title>Glee</title>
</head>

<body>
  {% include 'app/module/_header/_header.html' %}

  <main class="main">
    <div class="breadcrumbs">
      <div class="container">
        <h2 class="breadcrumbs__title">
          Log in
        </h2>
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Home
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Log in
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section class="modal">
      <div class="container">
        <form class="modal__form" action="#">
          <label class="modal__label">
            Username or email address *
            <input class="modal__input" type="text" required>
          </label>
          <label class="modal__label">
            Password *
            <input class="modal__input" type="password" required>
          </label>
          <button class="modal__btn" type="submit">
            Login
          </button>
          <div class="modal__inner">
            <label class="modal__label">
              <input class="modal__input-checkbox" type="checkbox">
              Remember me
            </label>
            <a class="modal__lost" href="#">
              Lost your password?
            </a>
          </div>
          <p class="modal__text">
            Not registered? No problem
          </p>
          <a class="modal__create-account" href="#">
            Create an account
          </a>
        </form>
      </div>
    </section>
    <div class="partners">
      <div class="container">
        <div class="partners__wrapper">
          <img class="partners__img" src="images/partners/1.png" alt="partners logo">
          <img class="partners__img" src="images/partners/2.png" alt="partners logo">
          <img class="partners__img" src="images/partners/3.png" alt="partners logo">
          <img class="partners__img" src="images/partners/4.png" alt="partners logo">
          <img class="partners__img" src="images/partners/5.png" alt="partners logo">
        </div>
      </div>
    </div>
  </main>

  {% include 'app/module/_footer/_footer.html' %}
  
  <script src="js/main.min.js"></script>
</body>

</html>