<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/product-list2.min.css">
    <title>Glee - Product list 1</title>
  </head>

  <body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
      {% include 'app/module/_breadcrumbs/_breadcrumbs.html' %}
      <section class="shop">
        <div class="container">
          <div class="shop__inner">
            <div class="shop__filter">
              {% include 'app/module/_shop/_category-filter.html' %}
              {% include 'app/module/_shop/_price-filter.html' %}
              {% include 'app/module/_shop/_brand-filter.html' %}
              {% include 'app/module/_shop/_recent-products.html' %}
            </div>
            <div class="shop__content">
              {% include 'app/module/_shop/_product-list.html' %}
              <div class="pagination pagination--left">
                <ul class="pagination__list">
                  <li class="pagination__item">
                    <a class="pagination__link pagination__link--active" href="#">1</a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#">2</a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#">3</a>
                  </li>
                </ul>
                <a class="pagination__next" href="#">Next</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include 'app/module/_partners/_partners.html' %}
    </main>
    {% include 'app/module/_footer/_footer.html' %}
    <script src="js/main.min.js"></script>
  </body>

</html>