<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/terms.min.css">
  <title>Glee - Terms</title>
</head>

<body>
  {% include 'app/module/_header/_header.html' %}

  <main class="main">
    <div class="breadcrumbs">
      <div class="container">
        <h2 class="breadcrumbs__title">
          Terms & Conditions
        </h2>
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Home
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Terms & Conditions
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section class="terms">
      <div class="container">
        <h4 class="terms__title">
          Types of Personal Information We Collect
        </h4>
        <ul class="terms__list">
          <li class="terms__list-item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms__list-item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms__list-item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li class="terms__list-item">
            Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.
          </li>
          <li class="terms__list-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </li>
        </ul>
        <h4 class="terms__title">
          How marketpmss.com Collects Personal Infonnation
        </h4>
        <p class="terms__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
        <h4 class="terms__title">
          How marketpmss.com Collects Personal Infonnation
        </h4>
        <p class="terms__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
      </div>
    </section>
    <section class="insights">
      <div class="container">
        <div class="insights__head">
          <h3 class="insights__title">
            Our Insights & Articles
          </h3>
          <a class="insights__link" href="#">
            View All
          </a>
        </div>
        <div class="insights__items">
          <div class="insights__item">
            <a class="insights__item-link" href="#">
              <img class="insights__item-img" src="images/content/articles/1.jpg" alt="articles thumb">
            </a>
            <a class="insights__item-category" href="#">
              NEWS
            </a>
            <div class="insights__item-content">
              <a class="insights__item-link" href="#">
                <p class="insights__item-description">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
              </a>
              <div class="insights__item-elements">
                <span class="insights__item-date">
                  28 JANUARY, 2020
                </span>
                <a class="insights__item-autor" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
          <div class="insights__item">
            <a class="insights__item-link" href="#">
              <img class="insights__item-img" src="images/content/articles/2.jpg" alt="articles thumb">
            </a>
            <a class="insights__item-category" href="#">
              NEWS
            </a>
            <div class="insights__item-content">
              <a class="insights__item-link" href="#">
                <p class="insights__item-description">
                  Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </p>
              </a>
              <div class="insights__item-elements">
                <span class="insights__item-date">
                  28 JANUARY, 2020
                </span>
                <a class="insights__item-autor" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
          <div class="insights__item">
            <a class="insights__item-link" href="#">
              <img class="insights__item-img" src="images/content/articles/3.jpg" alt="articles thumb">
            </a>
            <a class="insights__item-category" href="#">
              NEWS
            </a>
            <div class="insights__item-content">
              <a class="insights__item-link" href="#">
                <p class="insights__item-description">
                  Rncididunt ut labore et dolore magna aliqua. Ut enim
                </p>
              </a>
              <div class="insights__item-elements">
                <span class="insights__item-date">
                  28 JANUARY, 2020
                </span>
                <a class="insights__item-autor" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="insights-partners">
          <img class="insights-partners__img" src="images/partners/1.png" alt="partners logo">
          <img class="insights-partners__img" src="images/partners/2.png" alt="partners logo">
          <img class="insights-partners__img" src="images/partners/3.png" alt="partners logo">
          <img class="insights-partners__img" src="images/partners/4.png" alt="partners logo">
          <img class="insights-partners__img" src="images/partners/5.png" alt="partners logo">
        </div>
      </div>
    </section>
  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>